# AgriFlow.ai Environment Variables
NEXT_PUBLIC_SUPABASE_URL=https://ybtncqqphsnbazmwvuvi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_ILuR9zf-nqBUli4eBMDZug_xZEHreRg
FAST2SMS_API_KEY=j6aFGtwnAVWZE81hQLu4ld5SMmRX2IoHY0KTc9CpBbNvgDekqiETKlR7dtJFoM6NOQ5AuISb9se823CU
SEND_SMS_HOOK_SECRET=v1,whsec_8D9qYXmKMRVQoY1kLMklXszhXk0I337FcmAAEruvJPZMqnlu0k5n6rEMhQ+8Eesk7R9c96D6YHyidxRx
